<form>
    <button mat-raised-button (click)="AddFuncionario()">
        Adicionar Funcionario
    </button>
    
    <mat-form-field> 
        <input matInput placeholder="ID" [(ngModel)]="id_funcionario" name="id_funcionario">
    </mat-form-field>
</form>

<div class="mat-elevation-z2">
    <table mat-table [dataSource]="funcionarios">

        <!-- ID column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let funcionario"> {{ funcionario.id }} </td>
        </ng-container>

        <!-- Nome column -->
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let funcionario"> {{ funcionario.nome }} </td>
        </ng-container>

        <!-- Actions column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Remover </th>
            <td mat-cell *matCellDef="let funcionario">
                <i class="material-icons delete">delete</i>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let funcionario; columns: columnsToDisplay"></tr> 
    </table>

</div> 