.sidenav {
    background-color: #263238;
    width: 200px;
}

.sidenav a {
    color: white;
    font-size: large;
}

.sidenav i {
    padding-right: 20px;
} 

.content {
    padding: 20px;
    background-color: white;
}